# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
webapps/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/raw
/data/interim

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/
/data/processed/kwic_riksdag_Administrativ.csv
/data/processed/kwic_riksdag_Allmän.csv
/data/processed/kwic_riksdag_Allmänna.csv
/data/processed/kwic_riksdag_Annorlunda.csv
/data/processed/kwic_riksdag_Arkiv.csv
/data/processed/kwic_riksdag_Assosiera.csv
/data/processed/kwic_riksdag_Autonomi.csv
/data/processed/kwic_riksdag_Avtal.csv
/data/processed/kwic_riksdag_Backa upp.csv
/data/processed/kwic_riksdag_Begrepp.csv
/data/processed/kwic_riksdag_Bilda.csv
/data/processed/kwic_riksdag_Byta.csv
/data/processed/kwic_riksdag_Dagstidning.csv
/data/processed/kwic_riksdag_Del.csv
/data/processed/kwic_riksdag_Dela.csv
/data/processed/kwic_riksdag_Dela upp.csv
/data/processed/kwic_riksdag_Delstat.csv
/data/processed/kwic_riksdag_Delta.csv
/data/processed/kwic_riksdag_Demokrati.csv
/data/processed/kwic_riksdag_Diskutera.csv
/data/processed/kwic_riksdag_Dynastisk.csv
/data/processed/kwic_riksdag_Epok.csv
/data/processed/kwic_riksdag_Era.csv
/data/processed/kwic_riksdag_Europa.csv
/data/processed/kwic_riksdag_Europeisk.csv
/data/processed/kwic_riksdag_Finland.csv
/data/processed/kwic_riksdag_Finländare.csv
/data/processed/kwic_riksdag_Finländsk.csv
/data/processed/kwic_riksdag_Finne.csv
/data/processed/kwic_riksdag_Finsk.csv
/data/processed/kwic_riksdag_Finska.csv
/data/processed/kwic_riksdag_Folk.csv
/data/processed/kwic_riksdag_Folkrepresentation.csv
/data/processed/kwic_riksdag_Form.csv
/data/processed/kwic_riksdag_Fred.csv
/data/processed/kwic_riksdag_Fråga.csv
/data/processed/kwic_riksdag_Furstendöme.csv
/data/processed/kwic_riksdag_Förbi.csv
/data/processed/kwic_riksdag_Fördrag.csv
/data/processed/kwic_riksdag_Föreställning.csv
/data/processed/kwic_riksdag_Författning.csv
/data/processed/kwic_riksdag_Förra.csv
/data/processed/kwic_riksdag_Förvaltningssystem.csv
/data/processed/kwic_riksdag_Förändring.csv
/data/processed/kwic_riksdag_Gensaga.csv
/data/processed/kwic_riksdag_Gestalt.csv
/data/processed/kwic_riksdag_Grundlag.csv
/data/processed/kwic_riksdag_Gräns.csv
/data/processed/kwic_riksdag_Gränslandet.csv
/data/processed/kwic_riksdag_Gränslinje.csv
/data/processed/kwic_riksdag_Hertig.csv
/data/processed/kwic_riksdag_Hertigdöme.csv
/data/processed/kwic_riksdag_Hisoriograf.csv
/data/processed/kwic_riksdag_Historia.csv
/data/processed/kwic_riksdag_Historie-.csv
/data/processed/kwic_riksdag_Historieskrivning.csv
/data/processed/kwic_riksdag_Historiker.csv
/data/processed/kwic_riksdag_Historisk.csv
/data/processed/kwic_riksdag_Human.csv
/data/processed/kwic_riksdag_Härskare.csv
/data/processed/kwic_riksdag_Hävdateckning.csv
/data/processed/kwic_riksdag_Ifrågasatta.csv
/data/processed/kwic_riksdag_Imperium.csv
/data/processed/kwic_riksdag_Inre.csv
/data/processed/kwic_riksdag_Inrikes.csv
/data/processed/kwic_riksdag_Integritet.csv
/data/processed/kwic_riksdag_Intellectual.csv
/data/processed/kwic_riksdag_Intern.csv
/data/processed/kwic_riksdag_Invändning.csv
/data/processed/kwic_riksdag_Invånare.csv
/data/processed/kwic_riksdag_Jämlikhet.csv
/data/processed/kwic_riksdag_Kejsardöme.csv
/data/processed/kwic_riksdag_Kejsare.csv
/data/processed/kwic_riksdag_Kejserling.csv
/data/processed/kwic_riksdag_Koncept.csv
/data/processed/kwic_riksdag_Konstitution.csv
/data/processed/kwic_riksdag_Kontroversiell.csv
/data/processed/kwic_riksdag_Krig.csv
/data/processed/kwic_riksdag_Kultur.csv
/data/processed/kwic_riksdag_Kung.csv
/data/processed/kwic_riksdag_Kynne.csv
/data/processed/kwic_riksdag_Lag.csv
/data/processed/kwic_riksdag_Land.csv
/data/processed/kwic_riksdag_Landområde.csv
/data/processed/kwic_riksdag_Landtag.csv
/data/processed/kwic_riksdag_Liberal.csv
/data/processed/kwic_riksdag_Makt.csv
/data/processed/kwic_riksdag_Medborgare.csv
/data/processed/kwic_riksdag_Medeltid.csv
/data/processed/kwic_riksdag_Mobilisering.csv
/data/processed/kwic_riksdag_Modern.csv
/data/processed/kwic_riksdag_Monark.csv
/data/processed/kwic_riksdag_Nation.csv
/data/processed/kwic_riksdag_Nature.csv
/data/processed/kwic_riksdag_Nordiska.csv
/data/processed/kwic_riksdag_Nutida.csv
/data/processed/kwic_riksdag_Nyhetstidning.csv
/data/processed/kwic_riksdag_Offentlig.csv
/data/processed/kwic_riksdag_Olik.csv
/data/processed/kwic_riksdag_Område.csv
/data/processed/kwic_riksdag_Omtvistad.csv
/data/processed/kwic_riksdag_Parlament.csv
/data/processed/kwic_riksdag_Period.csv
/data/processed/kwic_riksdag_Politik.csv
/data/processed/kwic_riksdag_Princip.csv
/data/processed/kwic_riksdag_Protest.csv
/data/processed/kwic_riksdag_Provins.csv
/data/processed/kwic_riksdag_Publicera.csv
/data/processed/kwic_riksdag_Regel.csv
/data/processed/kwic_riksdag_Regent.csv
/data/processed/kwic_riksdag_Regering.csv
/data/processed/kwic_riksdag_Regeringsform.csv
/data/processed/kwic_riksdag_Region.csv
/data/processed/kwic_riksdag_Representation.csv
/data/processed/kwic_riksdag_Retorik.csv
/data/processed/kwic_riksdag_Retorisk.csv
/data/processed/kwic_riksdag_Rike.csv
/data/processed/kwic_riksdag_Riksdag.csv
/data/processed/kwic_riksdag_Risk.csv
/data/processed/kwic_riksdag_Ryska.csv
/data/processed/kwic_riksdag_Ryss.csv
/data/processed/kwic_riksdag_Ryssland.csv
/data/processed/kwic_riksdag_Rätt-.csv
/data/processed/kwic_riksdag_Rättighet.csv
/data/processed/kwic_riksdag_Samarbete.csv
/data/processed/kwic_riksdag_Samhällelig.csv
/data/processed/kwic_riksdag_Samhället.csv
/data/processed/kwic_riksdag_Samhälls-.csv
/data/processed/kwic_riksdag_Samhällsform.csv
/data/processed/kwic_riksdag_Sekel.csv
/data/processed/kwic_riksdag_Senat.csv
/data/processed/kwic_riksdag_Självbestemmanderätt.csv
/data/processed/kwic_riksdag_Självstyrelse.csv
/data/processed/kwic_riksdag_Skede.csv
/data/processed/kwic_riksdag_Skilja.csv
/data/processed/kwic_riksdag_Skilja åt.csv
/data/processed/kwic_riksdag_Social.csv
/data/processed/kwic_riksdag_Språk.csv
/data/processed/kwic_riksdag_Stat.csv
/data/processed/kwic_riksdag_Statsform.csv
/data/processed/kwic_riksdag_Statsskick.csv
/data/processed/kwic_riksdag_Status.csv
/data/processed/kwic_riksdag_Storfurstendöme.csv
/data/processed/kwic_riksdag_Styre.csv
/data/processed/kwic_riksdag_Styresman.csv
/data/processed/kwic_riksdag_Ställning.csv
/data/processed/kwic_riksdag_Stånd.csv
/data/processed/kwic_riksdag_Stödja.csv
/data/processed/kwic_riksdag_Stötta.csv
/data/processed/kwic_riksdag_Suverän.csv
/data/processed/kwic_riksdag_Suveränitet.csv
/data/processed/kwic_riksdag_Svenska.csv
/data/processed/kwic_riksdag_Sverige.csv
/data/processed/kwic_riksdag_Swensk.csv
/data/processed/kwic_riksdag_System.csv
/data/processed/kwic_riksdag_Sära på.csv
/data/processed/kwic_riksdag_Ta fram.csv
/data/processed/kwic_riksdag_Talet.csv
/data/processed/kwic_riksdag_Territorium.csv
/data/processed/kwic_riksdag_Tid.csv
/data/processed/kwic_riksdag_Tidig.csv
/data/processed/kwic_riksdag_Tidigare.csv
/data/processed/kwic_riksdag_Tidstrogen.csv
/data/processed/kwic_riksdag_Tsar.csv
/data/processed/kwic_riksdag_Tvistig.csv
/data/processed/kwic_riksdag_Underståte.csv
/data/processed/kwic_riksdag_Universitet.csv
/data/processed/kwic_riksdag_Utforma.csv
/data/processed/kwic_riksdag_Utvecklad.csv
/data/processed/kwic_riksdag_Vaxlä.csv
/data/processed/kwic_riksdag_Vetenskap.csv
/data/processed/kwic_riksdag_Välde.csv
/data/processed/kwic_riksdag_Århundrade.csv
/data/processed/kwic_riksdag_Åsikt.csv
/data/processed/kwic_riksdag_Administrativ.csv
/data/processed/kwic_riksdag_Administrativ.csv
/data/processed/kwic_riksdag_Allmän.csv
/data/processed/kwic_riksdag_Allmänna.csv
